@import url("https://fonts.googleapis.com/css2?family=Raleway&display=swap");

* {
  list-style: none;
  text-decoration: none;
}

.container {
  width: 1200px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
  justify-content: space-between;
  display: flex;
  align-items: center;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 80px;
  border: 1px;
}

.nav__items {
  font-family: "Roboto", sans-serif;
  font-weight: bold;
  font-size: 16px;
  line-height: 26px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--dark-color);
  gap: 50px;
}

.nav__items-fix {
  margin: 0 10px;
}

.logo {
  font-family: "Raleway", sans-serif;
  color: var(--brand-color);
  font-weight: 700;
  font-size: 26px;
  line-height: 30.52px;
  letter-spacing: 3%;
  margin-right: 20px;
  padding-left: 50px;
}

.nav__link {
  font-family: "Roboto", sans-serif;
  gap: 50px;
  display: flex;
  padding: 0;
  margin: 0;
}

.nav__link :hover {
  color: var(--brand-color);
  transition: 250ms background-color cubic-bezier(0.4, 0, 0.2, 1);
}

.current {
  color: var(--brand-color);
  position: relative;
}

.active::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 4px;
  top: 49px;
  left: 0px;
  border-radius: 2px;
  background-color: var(--brand-color);
}

.contact__link {
  font-family: "Roboto", sans-serif;
  gap: 50px;
  display: flex;
  padding: 0;
  margin: 0;
  margin-top: 25px;
}

.contact__link :hover {
  color: var(--brand-color);
  fill: var(--brand-color);
  transition: 250ms color fill cubic-bezier(0.4, 0, 0.2, 1);
}

.contact__link-fix {
  font-family: "Roboto", sans-serif;
  color: var(--letters-gray);
  fill: var(--letters-gray);
  display: flex;
  gap: 10px;
  margin-bottom: 20px;
}
