// Paleta de colores
$brand-color: rgba(33, 150, 243, 1);
$icon-default: #afb1b8;
$hero-background-gradient: #2f303a66;
$hero-background-image: url(../images/back-title.jpg);
$footer-bg-color: rgba(47, 48, 58, 1);
$nav-link-hover-color: #2196f3;
$modal-background: rgba(0, 0, 0, 0.2);
$modal-content-bg: rgba(255, 255, 255, 1);
$modal-border-color: var(--icon-default);

$font-roboto: "Roboto", sans-serif;
$font-raleway: "Raleway", sans-serif;

$font-size-small: 14px;
$font-size-large: 44px;
$line-height-small: 24px;
$line-height-large: 60px;
$letter-spacing-small: 3%;
$letter-spacing-large: 6%;
